/* style here */
* {
    box-sizing: border-box;
  }
  main {
    display: flex;
    width: 80vh;
    flex-wrap: wrap;
  }
  .cell {
    width: 20vh;
    height: 20vh;
    font-size: 12vh;
    border: 1px solid black;
  }