/* style here */
body {
  font-family: 'Arial', sans-serif;
  color:purple;
}

section {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
  margin: 50px auto;
}

.cell {
  font-family: 'Trebuchet MS';
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px purple;
  border: 1px solid purple;
  cursor: pointer;
  font-size: 80px;
  line-height: 100px; 
}